#Pumgrana_Plugin #PG_ListLinks li{
	margin-right: 5px;
	margin-left: 5px;
	border-bottom: 1px solid #d8d9da;
}

#PG_DisplayError {
	display: none;
	position : absolute;
	top: 50%;
	right: 30%;
	text-align: center;
}

#Pumgrana_Plugin #PG_ListLinks li:hover {
	background-color: #d8d9da;
}

#Pumgrana_Plugin #PG_ListLinks {
	margin-left: 0px;
}

#Pumgrana_Plugin {
	background-color: #f9f9f9;
	font-family: PT Sans;
	margin: 0px;
	border-left: 1px solid #cccccc;
}

#Pumgrana_Plugin a {
	color: #636363;
	cursor: pointer;
	text-decoration: none;
}

.PG_title_text_la {
	font-size: 1.1em;
}

.PG_text_la {
	font-size: 0.8em;
}

.PG_EachLink {
	margin: 0px;
}
#PG_SearchArticles {
	width: 60%;
	height: 28px;
	float: left;
}

.Pumgrana_ResearchDiv {
	margin: 5px;
}

#ImageLoading {
	position : absolute;
	top: 50%;
	right: 42%;
}

.PG_Button {
	background: #ffffff;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	font-family: Arial;
	font-size: 20px;
	text-decoration: none;
}

.PG_Button:hover {
	background: #dddddd;
	text-decoration: none;
}

#PG_RefreshButton {
	border: 1px solid #cccccc;
	height: 32px;
	width: 38px;
	margin-top: 5px;
	display: block;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border-left: 0px;
}

.PG_Text_Input {
	border: 1px solid #cccccc;
	font-size: 14px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.PG_InputGroup {
	margin-top: 5px;
	margin-left: 5px;
}

#PG_ToWebGUI img {
	height: 22px;
}

#PG_ToWebGUI {
	border: 1px solid #cccccc;
	height: 32px;
	width: 38px;
	margin-top: 5px;
	display: block;
	border-radius: 5px;
	float: right;
	margin-top: -32px;
}