/**
 * Colors
 *
 */
$primaryColor-white     : #fae6e6;
$primaryColor-light     : #fab4b4;
$primaryColor           : #f94a4d;
$secondaryColor-white   : #f9f9f9;
$secondaryColor-light   : #ebebeb;
$secondaryColor         : #d2d2d2;
$secondaryColor-medium  : #b0b0b0;
$secondaryColor-dark    : #636363;
$secondaryColor-black   : #323232;



/**
 * Default text theme
 *
 */
$background-color       : $secondaryColor-white;



/**
 * Default text theme
 *
 */
$text-color             : $secondaryColor-dark;
$text-fontFamily        : 'PT Sans';
