/**
 * Resultats style component
 *
 */

@import 'core';

.commonContainer {
    $extraSize: 6%;

    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100% + $extraSize * 2;
    left: -1 * $extraSize;
    padding: 12px $extraSize 13px;
    text-decoration: none;
    color: $secondaryColor-dark;
    cursor: pointer;

    &:hover,
    &:focus {
        background: $secondaryColor-white;
    }

    & + & {
        margin-top: 2px;
    }

    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 10%;
        margin-left: -10%;
        position: absolute;
    }
}

.paginatedContainer {
    composes: commonContainer;

    &:nth-child(19n+1):after {
        content: '';
        display: block;
        position: absolute;
        width: 342px;    height: 10px;
        margin-top: 34px;
        margin-left: -30px;
        background-color: $default-backgroundColor;
        border: 1px solid $secondaryColor-light;
        border-left: none;
        border-right: none;
        box-shadow: 0 -1px 0 $secondaryColor-light;
    }

    &:nth-child(19n+2) {
        margin-top: 48px;
    }

    &:nth-child(4) {
        margin-top: 0;
    }

    &:last-child::after {
        display: none;
    }
}

.notPaginatedContainer {
    composes: commonContainer;
}

.domainName {
    font-size: 13px;
    font-weight: 400;
    color: #cbcaca;
}

.title {
    color: $secondaryColor-black;
    font-weight: 700;
    font-size: 19px;
    margin: 4px 0 5px;

    &:not(*:root) {
        margin: 6px 0 5px;
    }
}

.description {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
}
