/**
 * Variables
 *
 */
$container-borderLeft : 5px;
$container-width      : 440px;
$container-padding    : 38px;
$resultats-padding    : 29px;
$footer-height        : 58px;
$zIndex-max           : 2147483648;
