/**
 * View component style
 *
 */

@import 'core';

.View{
    &_content{
        margin-top: 35px;
        padding: $resultats-padding;
        padding-top:24px;
        background: white;
        border: 1px solid $secondaryColor-light;
        margin-bottom: $footer-height * 1.5;
        border-radius: 3px;
    }
}
