/**
 * View component style
 *
 */

@import 'core';

.container {
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    vertical-align: top;
    box-sizing: border-box;
    width: $container-width - $container-borderLeft;
    height: calc(100% - #{$footer-height});
    padding: $container-padding $container-padding 0;
    background: $background-color;
    box-shadow: 0 0 6px rgba(black, .3);
    transition: left ease .4s;
}

.wrapper {
    padding: 24px $resultats-padding $resultats-padding;
    background: white;
    border: 1px solid $secondaryColor-light;
    box-shadow: 0 1px 0 $secondaryColor-light;
    border-radius: 3px;
}

.noResultat {
    margin: 12px 0 14px;
    font-size: 15px;
    color: $secondaryColor-dark;
}

.title {
    font-weight: 700;
    font-size: 20px;
    color: $primaryColor;
    margin: 6px 0 3px;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}
