/**
 * Typography
 *
 */

&{
	*{
	-webkit-font-smoothing: antialiased !important;
	line-height: $base-line-height !important;
	font-family: $base-font-family !important;
	text-rendering: initial !important;
	}

	&, h1, h2, p{
		font-family: $base-font-family;
		line-height: $base-line-height;
		text-align: left;
	}
}