{
  "stage": 0,
  "env": {
    "production": {
      "optional": ["runtime", "optimisation.react.constantElements"]
    },
    "development": {
      "plugins": ["react-transform"],
        "extra": {
          "react-transform": [{
            "target": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
        }, {
          "target": "react-transform-catch-errors",
          "imports": ["react", "redbox-react"]
        }]
      }
    }
  },
}
