{
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "quotes": [2, "single"],
        "strict": [2, "never"],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "camelcase": [2, {
            "properties": "never"
        }]
    },
    "plugins": [
        "react"
    ],
    "globals": {
        "__DEBUG__": true,
        "__DEV__": true,
        "chrome": true
    }
}
