/**
 * Resultats style component
 *
 */

@import 'core';


.Item{
    /* Settings */

    $extraSize : 6%;

    /* Hack for hover */
	&:before{
		content: "";
		display: block;
		height: 100%;
		width: 10%;
		margin-left: -10%;
		position: absolute;
	}

	display: block;
	position:relative;
	box-sizing: border-box;
	width: calc(100% + $extraSize * 2);
	left: calc(-1 * $extraSize);
	padding: calc($extraSize * .9) $extraSize;
	text-decoration: none;
	color: $secondaryColor-dark;
    cursor: pointer;

	& + &{
		margin-top: 2px;
	}

	&:hover, &:focus{
		background: $secondaryColor-white;
	}

	&_bookmark{
		opacity:0;
		position: absolute;
		margin-left: -36px;
		margin-top: 2px;

		&.is-active{
			opacity: 1;

			path{
				stroke: #D2D2D2;
				fill: #EBEBEB;
			}
		}
	}

	&:hover, &:focus{
		.Item_bookmark{
			opacity: 1;

			&:hover, &:focus{ path{
				stroke: #C0C0C0;
			}}

			&.is-active{
				path{
					stroke: #BDBDBD;
				}

				&:hover, &:focus{ path{
					stroke: #A4A4A4;
				}}
			}
		}
	}

	&_url{
		font-size: 13px;
		font-weight: 400;
		color: #CBCACA;
	}

	&_title{
		font-weight: 700;
		font-size: 19px;
		margin-top: 3px;
		margin-bottom: 7px;
	}

	&_description{
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	&_tag{
		display: inline-block;
		margin-right: 3px;
		padding: 3px 7px 4px;
		border: 1px solid $primaryColor;
		border-radius: 3px;
		color: $primaryColor;
		font-size: 12px;
		margin-bottom: 5px;

        & + &{
            margin-left: 4px;
        }

		&:hover{
			background:  $primaryColor-white;
		}
	}

	&.is-visited{
		.Item{
			&_url, &_title, &_description{
				opacity: .4;
			}

			&_tag{
				/*border-color: rgba($primary-color, .7);*/
				opacity: .4;
			}
		}
	}

	&.is-visited:hover{
		.Item{
			&_url, &_title, &_description{
				opacity: 1;
			}

			&_tag{
				/*border-color: $primary-color;*/
				opacity: 1;
			}
		}
	}
}
