/**
 * Resultats style component
 *
 */

@import 'core';

.container{
    $extraSize: 6%;

    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100% + $extraSize * 2;
    left: -1 * $extraSize;
    padding: 12px $extraSize 13px;
    text-decoration: none;
    color: $secondaryColor-dark;
    cursor: pointer;

    &:hover,
    &:focus {
        background: $secondaryColor-white;
    }

    & + & {
        margin-top: 2px;
    }

    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 10%;
        margin-left: -10%;
        position: absolute;
    }
}

.domainName {
    font-size: 13px;
    font-weight: 400;
    color: #cbcaca;
}

.title {
    font-weight: 700;
    font-size: 19px;
    margin: 4px 0 5px;
}

.description {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.tag {
    display: inline-block;
    margin-right: 3px;
    padding: 3px 7px 4px;
    border: 1px solid $primaryColor;
    border-radius: 3px;
    color: $primaryColor;
    font-size: 12px;
    margin-bottom: 5px;

    & + & {
        margin-left: 4px;
    }

    &:hover {
        background: $primaryColor-white;
    }
}





.Pumgrana .Item {
    &_bookmark {
        opacity: 0;
        position: absolute;
        margin-left: -36px;
        margin-top: 2px;

        &.is-active {
            opacity: 1;

            path {
                stroke: #d2d2d2;
                fill: #ebebeb;
            }
        }
    }

    &:hover,
    &:focus {
        .Item_bookmark {
            opacity: 1;

            &:hover,
            &:focus {
                path {
                    stroke: #c0c0c0;
                }
            }

            &.is-active {
                path {
                    stroke: #bdbdbd;
                }

                &:hover,
                &:focus {
                    path {
                        stroke: #a4a4a4;
                    }
                }
            }
        }
    }









    &.is-visited {
        .Item {
            &_url,
            &_title,
            &_description {
                opacity: 0.4;
            }

            &_tag {
                border-color: rgba($primaryColor, .9);
                opacity: 0.4;
            }
        }
    }

    &.is-visited:hover {
        .Item {
            &_url,
            &_title,
            &_description {
                opacity: 1;
            }

            &_tag {
                border-color: $primaryColor;
                opacity: 1;
            }
        }
    }
}
