/**
 * Resultats style component
 *
 */

@import 'core';

.commonBox {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(118,118,118,.5);
    width: 100vw;
    height: 100vh;
    z-index: $zIndex-max - 10;
}

.openBox {
    composes: commonBox;
    opacity: 1;
    cursor: pointer;
    transition: opacity .4s ease, visibility 0s ease;
}

.closedBox {
    composes: commonBox;
    opacity: 0;
    cursor: inherit;
    visibility: hidden;
    transition: opacity .4s ease, visibility 0s ease .4s;
}
