/**
 * Wrapper Component Style
 *
 */

@import 'core';

.commonWrapper {
    position: fixed;
    z-index: $zIndex-max;
    top: 0;
    right: ($container-width * -1) + 5px;
    height: 100%;
    width: $container-width;
    box-sizing: border-box;
    background: $default-backgroundColor;
    border-left: 5px solid $primaryColor;
    color: $default-textColor;
    transition: transform ease .3s;
}

.openedWrapper {
    composes: commonWrapper;
    transform: translateX($container-width * -1 + 5px);
}

.closedWrapper {
    composes: commonWrapper;
    transform: translateX(0);
}

.disabledWrapper {
    border-color: $secondaryColor-medium;
}
