/**
 * Wrapper Component Style
 *
 */

@import 'core';

div, article, footer, input,
button, h2, p, span{
    margin: 0;
	padding: 0;
	border: 0;
    box-shadow: 0;
    line-height: inherit;
    background: inherit;
    font-family: 'PT Sans';
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.commonWrapper {
    position: fixed;
    z-index: $zIndex-max;
    top: 0;
    right: ($container-width * -1) + 5px;
    height: 100%;
    width: $container-width;
    box-sizing: border-box;
    background: $default-backgroundColor;
    border-left: 5px solid $primaryColor;
    color: $default-textColor;
    text-align: left;
    transition: transform ease .3s;
}

.openedWrapper {
    composes: commonWrapper;
    transform: translateX($container-width * -1 + 5px);
}

.closedWrapper {
    composes: commonWrapper;
    transform: translateX(0);
}

.disabledWrapper {
    border-color: $secondaryColor-medium;
}
