/**
 * Container style component
 *
 */

@import 'core';

.Pumgrana{
    position: fixed;
    z-index: 0; /* 2147483647;*/
    top: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    width: $container-width;
    padding: 32px $container-padding 0;
    box-sizing: border-box;
    background: $background-color;
    border-left: 5px solid $primaryColor;
    color: $text-color;
    line-height: 21px;
    text-align: left;
    font-family: $text-fontFamily;
}
