/**
 * View bookmarks Component Style
 *
 * @extend .View
 */

 @import 'core';

.Pumgrana .ViewBookmarks{
    top: 100%;
    left: 33.333%;
    transition: top ease .3s;

    &.is-showed{
        top: 0;
    }
}
