/**
 * Header style component
 *
 */

@import 'core';

.container {
	position: relative;
	top: -3px;
	margin-bottom: 29px;

    &:not(*:root) {
        top: -5px;
    }
}

.back, .next{
	display: block;
	position: absolute;
	top: 12px;
	width: 11px;	height: 20px;
	background-image: image-url('back.svg', '../');
	cursor: pointer;
	z-index: $zIndex-max;

	&:hover, &:focus{
		opacity: .5;
	}
}

.next{
	right: 20px;
	transform: rotate(180deg);
}

.domainName, .title{
	display:inline-block;
	padding-left: 45px;
	font-weight: 700;
	width: 64%;
}

.domainName{
	width: 100%;
	font-size: 13px;
	color: $secondaryColor;
}

.title{
	position: relative;
	top: -2px;
	font-size: 15px;
	color: $secondaryColor-medium;
	font-family: $default-fontFamily;

    &:not(*:root) {
        top: 1px;
    }
}

.bookmarkIcon {
	display: block;
	position: absolute;
	top: 0;
	right: 40px;
}
