/**
 * Colors
 *
 * @return vars
 */ 

$primary-color    : #f94a4d ; // Red
$secondary-color  : #636363 ; // Black




/**
 * Fonts Settings
 *
 * @return array
 */

$fonts_settings : (
	'font-family' : 'PT Sans',
	'font-size'   : 16px,
	'line-height' : 21px
) !global;





/**
 * Breakpoints
 *
 * @return array
 */

$breakpoints : (	
	'huge' : 1500px,
	'massive' : 1800px
);





/**
 * Personnal settings
 *
 * @return array
 */

 $width: 440px;
 $padding : 32px;
 $border-left: 5px;
 $background-color: #f9f9f9;