/**
 * Views style component
 *
 */

@import 'core';

.container {
    position: absolute;
    overflow: hidden;
    width: 300%;
    height: 100%;
    background: $background-color;
    z-index: $zIndex-max + 1;
    font-family: 'PT Sans';
}
