/**
 * Popup component style
 *
 */

@import 'core';

.container {
    margin: 20px 0;
    text-align: center;
}

.logo {
    display: inline-block;
    width: 90px;    height: 28px;
    margin-bottom: 13px;
    background-image: image-url('logo.svg');
    opacity: 1;
}

.explain {
    margin: 6px 0 15px;
    font-size: 14px;
}

.button {
    width: 200px;
    padding: 13px 25px 12px;
    margin: 5px 14px;
    background: $primaryColor;
    border: 0;
    border-radius: 2px;
    color: white;
    font-size: 13px;
    font-family: 'PT Sans';
    cursor: pointer;
    outline: none;

    &:hover {
        opacity: .8;
    }
}
