/**
  * PT Sans Regular
  *
  */
 
 @font-face {
     font-family: 'PT Sans';
     src: url(PT-Sans/PT-Sans-Regular.ttf) format('truetype');
     font-style: normal;
     font-weight: normal;
 }


/**
  * PT Sans Bold
  *
  */
 
 @font-face {
     font-family: 'PT Sans';
     src: url(PT-Sans/PT-Sans-Bold.ttf) format('truetype');
     font-style: normal;
     font-weight: 700;
 }

