/**
 * Footer Component Style
 *
 */

@import 'core';

.Pumgrana .Footer {
    position: absolute;
    border-box: box-sizing;
    height: $footer-height;
    width: $container-width;
    bottom: 0;
    background-color: $background-color;
    opacity: 0.94;
    border-top: 1px solid #ebebeb;

    &_website {
        position: absolute;
        right: 24px;
        top: 13px;
        width: 100px;
        height: 28px;
        background: url("./../../assets/images/logo.svg");
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    &_viewBookmarks {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #d2d2d2;
        margin-top: 13px;
        margin-left: 19px;
		cursor: pointer;

	    svg {
            margin: auto;
            position: relative;
            left: -1px;
        }

	    &.is-active {
            border-color: $primaryColor;
            background: $primaryColor-white;

            svg path {
                stroke: $primaryColor;
                fill: $primaryColor-light;
            }

            &:hover,
            &:focus,
			&.is-clicked {
                border-color: $primaryColor;
                background: $primaryColor-light;
            }
        }
    }
}
