/** 
 * Toogle Component Style
 *
 */ 

// Settings
$width: 26px;
$height: 50px;

// Arrow
.Toogle{	
	display: block;
	position: absolute;
	top: 50%;
	margin-top: $height / -2;
	margin-left: ($width + $border-left) * -1;
	width: $width;
	height: $height;
	background: url('../img/toogle.svg');
	cursor: pointer;
}
