/** 
 * Website Component Style
 *
 */ 

.Website_overlay{
	display: none;
	position: fixed;
	top: 0;	left: 0;
	background: rgba(#767676,.6);
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: 2147483646;

	&.-is-active{
		display: block;
	}
}

.-pugmrana-active{
	html,body{
		overflow: hidden !important;
	}
}