/**
 * Resultats style component
 *
 */

@import 'core';

.Resultats{
    &_loadMore{
        display: block;
        position: static;
        margin: auto;
        background: $primaryColor;
        color: white;
        font-size: 14px;
        padding: 10px 70px 11px;
        margin-top: 20px;
        border-radius: 2px;
        cursor: pointer;

        &:hover, &:focus, &.is-active{
            opacity: .8;
        }
    }
}
