/** 
 * Container Component Style
 *
 */ 

&{
	position: fixed;
	z-index: 2147483647;
	top: 0;
	right:0;
	height:100%;
	width: $width;
	box-sizing: border-box;
	background: $background-color;
	border-left: $border-left solid $primary-color;
	color: $secondary-color;
	line-height: $base-line-height;
	text-align:left;
	
	&, h1, h2, p{
		font-family: $base-font-family;
	line-height: $base-line-height;
	}

	&_content{
		box-sizing: border-box;
		padding-top: 20px;
		max-width: 100%;
		max-height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}