/** 
 * Item Component Style
 *
 */ 

.Item{	
	$extra_size : 4%;

	&:before{
		content: "";
		display: block;
		height: 100%;
		width: 10%;
		margin-left: -10%;
		position: absolute;
	}

	display: block;
	position:relative;
	box-sizing: border-box;
	width: 100% + $extra_size * 2;
	left: -1 * $extra_size;
	padding: $extra_size;
	text-decoration: none;
	color: $secondary-color;

	& + &{
		margin-top: 16px;
	}

	&:hover, &:focus{
		background: mix(white, #f9f9f9, 20%);
	}

	&_bookmark{
		opacity:0;
		position: absolute;
		margin-left: -32px;
		margin-top: 2px;

		&.-active{
			opacity: 1;

			path{
				stroke: #D2D2D2;
				fill: #EBEBEB;
			}
		}
	}
	
	&:hover, &:focus{
		.Item_bookmark{
			opacity: 1;

			&:hover, &:focus{ path{
				stroke: #C0C0C0;
			}}

			&.-active{
				path{
					stroke: #BDBDBD;
				}

				&:hover, &:focus{ path{
					stroke: #A4A4A4;
				}}
			}
		}
	}

	&_url{
		font-size: 13px;
		font-weight: 400;
		color: #CBCACA;
	}

	&_title{
		font-weight: 700;
		font-size: 19px;
		margin-top: 3px;
		margin-bottom: 7px;
	}

	&_description{
		font-size: 14px; 
		margin-top: 0;
		margin-bottom: 10px;
	}

	&_tag{
		display: inline-block;
		margin-right: 3px;
		padding: 3px 7px 4px;
		border: 1px solid $primary-color;
		border-radius: 3px;
		color: $primary-color;
		font-size: 12px;
		margin-bottom: 5px;

		&:hover{
			background: mix(white, $primary-color, 86%);
		}
	}

	&.-visited{
		.Item{
			&_url, &_title, &_description{
				opacity: .4;
			}

			&_tag{
				border-color: rgba($primary-color, .7);
				opacity: .4;
			}
		}
	}

	&.-visited:hover{
		.Item{
			&_url, &_title, &_description{
				opacity: 1;
			}

			&_tag{
				border-color: $primary-color;
				opacity: 1; 	
			}
		}
	}
}