/** 
 * Resultats Component Style
 *
 */ 

.Resultats{
	margin-top: 30px;
	padding: 24px;
	padding-top:22px;
	background: white;
	border: 1px solid #ebebeb;
	margin: $padding $padding 86px;

	&_title{
		margin-bottom:14px;
		color: $primary-color;
		font-weight: 700;
		font-size: 19px;
	}
}