/** 
 * Search Component Style
 *
 */ 

.Search{	
	$font-color: #908E8E;

	margin-bottom: 10px !important;
	width: 100% !important;
	padding: 12px 11px !important;
	box-sizing: border-box !important;
	background: linear-gradient(to top, white, #f9f9f9) !important;
	border: 1px solid #ebebeb !important;
	border-radius: 4px !important;
	font-family: $base-font-family !important;
	font-size: 14px !important;
	color: $font-color !important;
	box-shadow: 0 0 0 black !important;
	height: inherit !important;

	&::placeholder{
		color: lighten($font-color, 20%) !important;
	}

	&:focus{
		border: 1px solid #e1e1e1 !important;
		background: mix(white, #f9f9f9, 90%) !important;
	}
}